<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WSCAN/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WSCAN.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="vmdEntities" connectionString="metadata=res://*/ModelosBD.VMDEntities.csdl|res://*/ModelosBD.VMDEntities.ssdl|res://*/ModelosBD.VMDEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vmd&quot;" providerName="System.Data.EntityClient" />
    <add name="condusatEntities" connectionString="metadata=res://*/ModelosBD.CondusatEntities.csdl|res://*/ModelosBD.CondusatEntities.ssdl|res://*/ModelosBD.CondusatEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=condusat&quot;" providerName="System.Data.EntityClient" />
    <add name="telematicsEntities" connectionString="metadata=res://*/ModelosBD.TelematicsEntities.csdl|res://*/ModelosBD.TelematicsEntities.ssdl|res://*/ModelosBD.TelematicsEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=telematics&quot;" providerName="System.Data.EntityClient" />
    <add name="SIAEntities" connectionString="metadata=res://*/ModelosBD.SIAEntities.csdl|res://*/ModelosBD.SIAEntities.ssdl|res://*/ModelosBD.SIAEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vmd&quot;" providerName="System.Data.EntityClient" />
    <add name="poiEntities" connectionString="metadata=res://*/ModelosBD.POIEntities.csdl|res://*/ModelosBD.POIEntities.ssdl|res://*/ModelosBD.POIEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=poi&quot;" providerName="System.Data.EntityClient" />
    <add name="CAN2Entities" connectionString="metadata=res://*/ModelosBD.CAN2Model.csdl|res://*/ModelosBD.CAN2Model.ssdl|res://*/ModelosBD.CAN2Model.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vmd&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
</configuration>