<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/WSCAN/Service.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IService" contract="WSCAN.IService" name="BasicHttpBinding_IService" />
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="vmdEntities" connectionString="metadata=res://*/VMDEntities.csdl|res://*/VMDEntities.ssdl|res://*/VMDEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vmd&quot;" providerName="System.Data.EntityClient" />
    <add name="condusatEntities" connectionString="metadata=res://*/CondusatEntities.csdl|res://*/CondusatEntities.ssdl|res://*/CondusatEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=condusat&quot;" providerName="System.Data.EntityClient" />
    <add name="telematicsEntities" connectionString="metadata=res://*/TelematicsEntities.csdl|res://*/TelematicsEntities.ssdl|res://*/TelematicsEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=telematics&quot;" providerName="System.Data.EntityClient" />
    <add name="SIAEntities" connectionString="metadata=res://*/SIAEntities.csdl|res://*/SIAEntities.ssdl|res://*/SIAEntities.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=root;persistsecurityinfo=True;database=vmd&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>