<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="5.0.0" targetFramework="net461" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net461" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net461" />
  <package id="MySql.Data.Entity" version="6.7.9" targetFramework="net461" />
  <package id="NCrontab" version="3.3.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net461" />
  <package id="Numpy.Bare" version="3.8.1.28" targetFramework="net461" />
  <package id="pythonnet_netstandard_py38_win" version="2.5.1" targetFramework="net461" />
</packages>